<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
  <a  href="expense">Profile</a>
  <a href="expens">expenses</a>
  <a style="color:white;" href="adexp">Add expenses</a>
  <a href="#">Contact us</a>
  <a href="logout">logout</a>
</div>

<div class="main">
    <h2>hello, {{user.first_name}} </h2>
  <h2>Welcome to expense tracker</h2>
  <p>Here you can add your expenses </p>

<form action="adexp" method="POST">
    {% csrf_token %}

    <!-- <h2>username:<input type="text" name="username" placeholder="username"><br></h2> -->
<!-- 
    <h2>DATE:<input type="date" id="date" name="date"></h2>

    <h2>FOOD:<input type="text" name="food" placeholder="food"><br></h2> -->
    <!-- <h2>PETROL:<input type="text" name="petrol" placeholder="petrol"><br></h2> -->
    <!-- <h2>TRAVEL:<input type="text" name="travel" placeholder="travel"><br></h2>
    <h2>SHOPPING:<input type="text" name="movie" placeholder="movie"><br></h2> -->
    <!-- <h2>RENT:<input type="text" name="rent" placeholder="rent"><br></h2> -->
    <!-- <h2>OTHER:<input type="text" name="other" placeholder="other"><br></h2>

    <button> <input type="submit"></button>

</form>

<div class="eror">

    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
</div>

</div>
   
</body>
</html>  --> 








{% load static %}



<!--DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static '/css/dash.css' %}">

</head>
<body>
<div class="sidenav">
    <h2 style="color:#818181;" >hello, {{user.first_name}} </h2>
  <a href="#">Profile</a>
  <a href="http://127.0.0.1:8000/expense">Expenses</a>
  <a href="http://127.0.0.1:8000/add_expense">Add expense</a>
  <a href="#">Contact us</a>
  <a href="http://127.0.0.1:8000/logout">Logout</a>
</div>






<div class="distance">

<form action="" method="POST" >
    {% csrf_token %}
    <ul class="date"> Date: <input type="date" name="date" ><br></ul>
     <ul class="food"> Food: <input type="number" min="0" onkeypress="return (event.charCode>=48&&event.charCode<58)" name="food" placeholder="0" value="0"><br></ul>
     <ul class="shopping"> Shopping: <input type="number" min="0" onkeypress="return (event.charCode>=48&&event.charCode<58)" name="shopping" placeholder="0" value="0"><br></ul>
     <ul class="travel"> Travel: <input type="number" min="0" onkeypress="return (event.charCode>=48&&event.charCode<58)" name="travel" placeholder="0" value="0"><br></ul>
     <ul class="others"> Others: <input type="number" min="0" onkeypress="return (event.charCode>=48&&event.charCode<58)" name="others" placeholder="0" value="0"><br></ul>

    <input class="add" type="Submit" placeholder="Add">
</form>


<div class="messages">
    {% for message in messages %}
    <b>{{ message }}</b>
    {% endfor %}
</div>








</div>


</body>
</html-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Expense Tracker</title>



    <link rel="stylesheet" href= {% static "https://fonts.googleapis.com/css?family=Open+Sans:400,600" %} />
    <link rel="stylesheet" href={% static '/css/all.min.css'%} />
    <link rel="stylesheet" href={% static '/css/bootstrap.min.css'%} />
    <link rel="stylesheet" href={% static '/slick/slick.css' %} />
    <link rel="stylesheet" href={% static 'slick/slick-theme.css' %}/>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css'%}/>
    <link rel="stylesheet" href={% static 'css/templatemo-dream-pulse.css' %} />
  </head>
  <body>
  <style>.tm-brand {
    font-size: 2rem;
}</style>
    <main class="container-fluid">
      <div class="row">
          <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="tm-sidebar-sticky">
              <div class="tm-brand-box">
                <div class="tm-double-border-1">
                  <div class="tm-double-border-2">
                    <h1 class="tm-brand text-uppercase">expense tracker</h1>
                  </div>
                </div>
              </div>
              <h5 style="color:white; font-weight:bold; margin-left:-145px;">Hi,{{user.username}} </h5>


              <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">

                <li class="nav-item">

                  <a href="/expense" class="nav-link active">
                    <span class="d-inline-block mr-3">Profile</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/home" class="nav-link">
                    <span class="d-inline-block mr-3">Dashboard</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/expens" class="nav-link">
                    <span class="d-inline-block mr-3">Expenses</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/adexp" class="nav-link">
                    <span class="d-inline-block mr-3">Add Expense</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
               
                <li class="nav-item">
                  <a href="/logout" class="nav-link">
                    <span class="d-inline-block mr-3">Logout</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>

              </ul>
                 <footer class="text-center text-white small">
                <p class="mb--0 mb-2">Connect With Us</p>

              </footer>
              <ul class="nav flex-row tm-social-links">
                <li class="nav-item">
                  <a href="https://facebook.com" class="nav-link tm-social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://twitter.com" class="nav-link tm-social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://dribbble.com" class="nav-link tm-social-link">
                    <i class="fab fa-dribbble"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://linkedin.com" class="nav-link tm-social-link">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>

            </div>
          </nav>

          <main role="main" class="ml-sm-auto col-12">
            <div
              class="parallax-window"
              data-parallax="scroll"
              data-image-src={% static 'img/dream-pulse-header.jpg' %}>
              <div class="tm-section-wrap">
                <section id="intro" class="tm-section">
                  <div class="tm-bg-white-transparent tm-intro" style="background-color:rgba(169,169,169,0.5)">
                        <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary  " style="text-align:center; color:black; font-weight:bold;">add expense</h2>
                        <!-- <p class="tm-color-gray">

                            <style>

                                .typebox{
  width: 100%;

  overflow:hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;

  border-bottom: 1px solid #4caf50;
}

.typebox input{
  border none;
  font-weight: bold;
  outline: none;
  background: none;
  color : black;
  font-size: 14px;
  width: 80%;

  margin: 10px;

}
::placeholder{
  color: black;

  }



.bt{
  width: 100%;
  background: #4caf50;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;

}




 </style>

                        </p>
                        
                        <form action="" method="POST">

                                {% csrf_token %}
                                <div class="typebox">
                                    <style>.nowrap {
  white-space: nowrap ;
  font-weight: bold;
   color : black;
}</style>

                                    <span class="nowrap">DATE:<input type="date" id="date" name="date" ><br></span><br>
                                    <span class="nowrap"> FOOD:<input type="text"  name="food" placeholder="Food" value="0"><br></span><br>
                                   <span class="nowrap">TRAVEL:<input type="text"  name="travel" placeholder="Travel" value="0"><br></span><br>
                                  <span class="nowrap">SHOPPING:<input type="text"  name="movie" placeholder="shopping" value="0"><br></span><br>
                                    <span class="nowrap">OTHER:  <input type="text"  name="other" placeholder="Other" value="0"><br></span><br>


                                </div>
                                <!-- <div class="forms2">
  DATE:<input type="date" id="date" name="date" ><br>
</div>
<br>


<div class="forms2">
  FOOD:<input type="text"  name="food" placeholder="Food" ><br>
</div>
<br>


<div class="forms3">
  TRAVEL:<input type="text"  name="travel" placeholder="Travel" ><br>
</div>
<br>


<div class="forms1">
  SHOPPING:<input type="text"  name="movie" placeholder="shopping" ><br>
</div>
<br>


<div class="forms1">
    OTHER:  <input type="text"  name="other" placeholder="Other" ><br>
</div>



<input class="bt" type="Submit" value="Add">

</div>

</form> -->


                                <!-- <input class="bt" type="Submit" value="Add"> -->

                        <!-- </form> --> 

                        <p class="tm-color-gray">

                          <style>

                              .typebox{
width: 100%;

overflow:hidden;
font-size: 20px;
padding: 8px 0;
margin: 8px 0;

border-bottom: 1px solid #4caf50;
}

.typebox input{
border none;

outline: none;
background: none;
color : black;
font-size: 14px;
width: 80%;

margin: 10px;

}
::placeholder{
color: rgb(68, 67, 67);


}






.bt{
width: 350%;
background: #4caf50;
border: 2px solid #4caf50;
color: black;
padding: 5px;
font-size: 18px;
cursor: pointer;

}






</style>

                      </p>
                      <table>
                    <form action="" method="POST">
                      {% csrf_token %}

                       <div class="typebox">
                           <style>.nowrap {
white-space: nowrap ;
font-weight: bold;
 color : black;
 text-decoration-color: black;
}


</style>

                          
                          <span class="nowrap" ><tr><td> <p style="color:black;"> DATE:</p> </td><td><input type="date" id="date" name="date" style="background-color: rgb(179, 172, 172);"></td></tr></span>
                      
                          <!-- <span class="nowrap">DATE:<input type="date" id="date" name="date" ><br></span><br>
                                    <span class="nowrap"> FOOD:<input type="text"  name="food" placeholder="Food" value="0"><br></span><br>
                                   <span class="nowrap">TRAVEL:<input type="text"  name="travel" placeholder="Travel" value="0"><br></span><br>
                                  <span class="nowrap">SHOPPING:<input type="text"  name="movie" placeholder="shopping" value="0"><br></span><br>
                                    <span class="nowrap">OTHER:  <input type="text"  name="other" placeholder="Other" value="0"><br></span><br> -->

                           <span class="nowrap"><tr><td><p style="color:black;"> FOOD:</p> </td><td><input type="text"  name="food" placeholder="Food" value="0" style="background-color: rgb(179, 172, 172);"></td></tr></span>
                      
                          <!-- <br> -->
                          <span class="nowrap"><tr><td><p style="color:black;"> TRAVEL:</p> </td><td><input type="text"  name="travel" placeholder="Travel" value="0" style="background-color: rgb(179, 172, 172);"></td></tr></span>
                      
                          <span class="nowrap"><tr><td><p style="color:black;">  SHOPPING:</p></td><td><input type="text"  name="movie" placeholder="shopping" value="0" style="background-color: rgb(179, 172, 172);"></td></tr></span>
                      
                         
                          <span class="nowrap"><tr><td><p style="color:black;"> OTHER: </p> </td><td><input type="text"  name="other" placeholder="Other" value="0" style="background-color: rgb(179, 172, 172);"></td></tr></span>
                      
                        
                       </div>


                       



                       <tr><td><div class="center"><input class="bt" type="Submit" value="Add"></div></td></tr>
                      

                    </form>
                  </table>

                          
                          <div class="messages" style="color:black; font-weight:bold; text-align:center">
                          {% for message in messages %}
                          <b>{{ message }}</b>
                          {% endfor %}
                          </div>


                    </div>

                </section>
            </div>
          </div>


    <script src={% static 'js/jquery.min.js' %}></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src={% static 'js/parallax.min.js'%}></script>
    <script src="slick/slick.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/templatemo-scripts.js" ></script>
  </body>
</html>



