{% load static %}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>expense &amp; tracker</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}">
	<!-- <script type='text/javascript' src='js/mobile.js'></script> -->
</head>
<body>
	<div id="header">
		<h1><a href="index.html">expense &amp; tracker <span>build wealth</span></a></h1>
		<ul id="navigation">
			<li class="current">
				<a href="{% static 'index.html' %}">Home</a>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>

			{% if user.is_authenticated %}
			<li>hello, {{user.first_name}} </li>
			<li><a href="accounts/logout">logout</a></li>
			{% else %}
			<li><a href="accounts/register">register</a></li>
			<li><a href="accounts/login">login</a></li>
			{% endif %}

		
		</ul>
	</div>
	<div id="body">
		<div id="tagline">
			<h1>expense tracker</h1>
			<p>
				For Better Wealth &amp; Future
			</p>
		</div>
		<img src="{% static 'images/expen.jpeg' %}" alt="lady doing yoga" class="figure" width="190" height="160">
	</div>
	<div id="footer">
		<div>
			<span>123 St. City Location, Country | {{ph.price}}</span>
		</div>
		<div id="connect">
			<a href="{% static 'https://freewebsitetemplates.com/go/facebook/' %}" id="facebook" target="_blank">Facebook</a>
			<a href="{% static 'https://freewebsitetemplates.com/go/twitter/' %}" id="twitter" target="_blank">Twitter</a>
			<a href="{% static 'https://freewebsitetemplates.com/go/googleplus/' %}" id="googleplus" target="_blank">Google&#43;</a>
			<a href="{% static 'https://freewebsitetemplates.com/go/pinterest/' %}" id="pinterest" target="_blank">Pinterest</a>
		</div>
	</div>
</body>
</html>